.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.nav-cstm1{
	margin: 0 10px;
	content: #ddd;
	outline: none;
	cursor: pointer !important;
	// display: block;
}
.nav-cstm1:hover{
	// background: #ddd;
  	color: #fff;
  	cursor: pointer;
}

.nav-clicked{
  color: #fff;
}