body{padding: 0; margin:0;}


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-toolbar.mat-primary {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9%;
    color: #c7c7c7;
    box-shadow: 5px 4px 12px #312f2f82;
}

.main {
  padding: 0px;
  margin-top: 30px;
  // height: 1200px; /* Used in this example to enable scrolling */
}
.mat-card{
	height: 150px;
}

.cst-about{
	color: #fff;
    background: #3f51b5;
    padding: 100px 0px 21px 0px;
    text-align: center;
}

// .main{padding: 0px 0}

.cst-content{
	padding: 0px 20px;
}